 <!--deletemodal-->
 <div class="modal fade" id="delete{{location.location_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Delete Location</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-cont" class="modal-body" >
          <form  action="" method="POST" id="products">
            {{ dform.hidden_tag() }}
            <h5 class="text-center">
              Are you sure you want to delete Location {{ location.location_name }} ?
            </h5>
            <br>
            <br>
            <input id="locationname" name="locationname" type="hidden" value="{{location.location_name}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div >
            {{ dform.submit(class="btn btn-danger") }}
          </div>
        </div>
      </form>
     </div>
   </div>

  </div>
  <!--editmodal end-->  

